.searchContainer{
    display: flex;
    justify-content: center;
}

.searchBox{
    position: relative; /* yo quiero posicionar los demas elementos con respecto a este y los demas absolutos respectoa  el */
}

.searchButton{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    height: 100%;
    border: none;
    border-radius: 10px;

}

.searchInput{
    font-size: 1.2rem;
    height: 30px;
    border-radius: 10px;
    border: none;
    padding: 5px 50px 5px 10px; /* pading para separar el texto intruducido del boton y de la derecha y la izquierda */
}

.searchInput:focus,
.searchInput:focus{
    outline:none;
    border: 1px solid #f88ec2;
    box-shadow: 0 0 5px #ebbed4;
}